@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Cinzel+Decorative&family=Luckiest+Guy&family=Special+Elite&family=Roboto&family=Ubuntu+Mono:ital@1&display=swap');

:root{
    font-size: 60%;
}

* {
    margin: 0;
    padding:  0;
    border: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

body {
    max-width: 100vw;
    background-color:  hsl(247.5, 56.14%, 22.35%);
}

header h1 {
    color: hsl(33.33, 69.23%, 88.43%);
    text-align: end;
    font-weight: 900;
    font-size: 3em;    
    font-family: 'Cinzel Decorative';
    text-shadow:  1px 1px 1px #ACACD5;
    margin: 1rem;
}

header h2 {
    color: hsl(33.33, 69.23%, 92.35%);
    font-weight: 400;
    font-size: 2em;
    font-family: 'Audiowide';
    text-shadow:  1px 1px 1px#DBEDAC;
    margin-top: 1px;
    text-align: end;
    margin: 1rem;
}

h3 {
    font-family: 'Special Elite';
    font-size: 2.15rem;
    color: #FF3333;
    text-shadow: 1px 1px 1px #FF1111;
    text-align: center;
    margin: auto;
    margin-bottom: 1rem;
    width: 23%;
    background-color: #FAFAFA;
}

h4{
    color: hsl(33.33, 69.23%, 92.35%);
    font-weight: 400;
    font-size: 2em;
    font-family: 'Audiowide';
}

nav{
    display: inline;
    text-align: end;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
    margin: 1rem;
}
nav li {
    display: inline;
    font-size: 1.75em;
    background-color: #214CDB;
    padding: 2px;
    margin: 1px;
}

nav a{
    font-family: 'Luckiest Guy';
    text-decoration: none;
    color: hsl(50, 100%, 50%);
}

nav li:hover {
    background-color:  #02731B;;
}

.columnParent {
    display: flex;
    flex-wrap: wrap;

    max-width: 100%;
    min-width: 30%;
    height: auto;

    resize: none;
    overflow: hidden;
    
  }
  
  .columnChild {
    background: lightgray;
    font-size: 2rem;
    text-align: center;
    margin: 5px;
    flex: 1 1 300px;
  }

  .columnChild h4{
      font-size: 2.5rem;
      color: hsl(247.5, 56.14%, 22.35%);
  }

  .columnChild img{
      width: 30rem;
  }

.season{
    text-align: center;
    width: 100%;
}

#gameText {
    color:  hsl(0, 0, 37.65%);
    font-weight: 400;
    font-size: 2em;
    font-family: 'Audiowide';
}

.gameImage{
    text-align: center;
    color: hsl(247.5, 56.14%, 22.35%);
    font-family: 'Luckiest Guy';
    font-size: 2rem;
}

.content figcaption{
    font-family: 'Ubuntu Mono';
    font-size: 1.5rem;
    color:hsl(20, 75%, 85%);
    font-weight: 500;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
    text-align: center;

    margin: auto;
}
footer p{
    text-align: center;
    color: hsl(0, 0, 37.65%);
    font-family: 'Roboto';
    font-size: 1.5rem;
}

.carousel-inner{
    text-align: center;
}

.mangaImage {
    width: auto;
    height: 45vh;
}

.caption {
    color: hsl(33.33, 69.23%, 88.43%);
    font-weight: 900;
    font-family:  'Cinzel Decorative';
    font-size: 3rem;
    margin-top: 3rem;
}

p {
    font-family: 'Roboto';
    font-size: 2rem;
    color:  hsl(33.33, 69.23%, 88.43%);
}

#insideText{
    color: navy;
}

@media  (min-width: 1001px){
    :root {
        font-size: 62.5%;
    }
    .content{
        display: inline-block;
        width: 19.5%;
        margin: 0.1rem;
    }
}

@media only screen and (min-width: 765px) and (max-width:1000px) {
    :root {
        font-size: 62.5%;
    }
    .content{
        display: inline-block;
        width: 30%;
        margin: 0.1rem;
    }
}